@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Message.</h2>
    @*<h3>@ViewBag.Message</h3>*@


    <address>
        Shan Lin (Sojona)
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:shihhanlin19@gmail.com">shihhanlin19@gmail.com</a><br />
    </address>
</main>